@model WebApplication1.Models.ViewModels.StudentDetailsViewModel

@{
    ViewData["Title"] = "Student Details";
}

@{
    ViewBag.StudentSsn = Model.Ssn;
}

<div class="container mt-4">
    <div class="row">
        <!-- Student Profile Card Partial -->
        <div class="col-md-4 mb-4">
            <partial name="_StudentProfileCard" model="Model" />
        </div>

        <!-- Student Courses Details Partial -->
        <div class="col-md-8">
            <partial name="_EnrolledCoursesTable" model="Model.Courses" />
        </div>
    </div>
</div>
